html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.warp {
  width: 70%;
  margin: 0 auto;
}
.warp .search-area {
  position: relative;
}
.warp .search-area .search {
  width: 416px;
  height: 56px;
  padding: 0 50px;
  margin-top: 80px;
  border-radius: 40px;
  border: 1px solid black;
}
.warp .search-area i {
  position: absolute;
  left: 20px;
  top: 100px;
  font-size: 25px;
}
.warp ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.warp li {
  width: 416px;
  height: 476px;
  margin: 40px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.warp li .c-img {
  width: 100%;
  height: 200px;
  margin-bottom: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}
.warp li .date {
  color: #000000;
  font-size: 16px;
  margin: 8px 0;
}
.warp li .tag {
  font-size: 24px;
  color: #0027D5;
  line-height: 1.5;
  text-decoration: none;
}
.warp li .title {
  height: 84px;
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  line-height: 1.5;
}
.warp li .detial {
  height: 48px;
  font-size: 16px;
  margin: 8px 0;
  color: #4B4B4B;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-overflow: ellipsis;
}
.warp li .read {
  padding: 8px 16px;
  margin-top: 10px;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  border-radius: 40px;
  border: 1px solid black;
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.warp li .read:hover {
  background-color: #000000;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}