@media(max-width:375px) {
    .warp {
        .search-area {
            display: flex;
            justify-content: center;

            .search {
                width: 216px;
                height: 36px;
                padding: 0 45px;
                margin-top: 40px;
            }
        }

        .search-area i {
            left: 75px;
            top: 50px;
            font-size: 20px;
        }
    }

    .warp ul li {
        width: 208px;

        .tagArea {
            .hot {
                line-height: 1.5;
                margin: 0;
                width: 80px;
                height: 32px;
                margin-left:4px;
            }
        }
    }
}