html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.warp {
  max-width: 1296px;
  margin: 0 auto;
  text-decoration: none;
}
.warp .search-area {
  position: relative;
}
.warp .search {
  max-width: 416px;
  width: 416px;
  height: 56px;
  padding: 0 50px;
  margin-top: 80px;
  border-radius: 40px;
  border: 1px solid black;
}
.warp i {
  position: absolute;
  left: 20px;
  top: 100px;
  font-size: 25px;
}
.warp ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.warp li {
  max-width: 416px;
  margin: 40px 8px;
  box-sizing: border-box;
}
.warp .c-img {
  width: 100%;
  height: 200px;
  margin-bottom: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}
.warp .date {
  color: #000000;
  margin: 8px 0;
}
.warp .tagArea {
  display: flex;
}
.warp .tagArea .tag {
  font-size: 24px;
  color: #0027D5;
}
.warp .tagArea .hot {
  border-radius: 40px;
  padding: 6px 12px;
  margin-left: 8px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #0027D5;
}
.warp .title {
  font-size: 28px;
  font-weight: bold;
  color: #000000;
}
.warp .detial {
  margin: 8px 0;
  color: #4B4B4B;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-overflow: ellipsis;
}
.warp .read {
  padding: 8px 16px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 40px;
  border: 1px solid black;
  color: black;
  transition: all 0.3s ease;
}
.warp .read:hover {
  background-color: #000000;
  color: white;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .warp .search-area {
    padding: 0 10%;
  }
  .warp .search {
    width: 216px;
    height: 36px;
    padding: 0 40px;
  }
  .warp .search-area i {
    left: 90px;
    top: 90px;
    font-size: 20px;
  }
  .warp ul li {
    width: 245px;
  }
  .warp ul li .c-img {
    width: 100%;
    height: 200px;
    margin-bottom: 8px;
  }
  .warp ul li .date {
    font-size: 14px;
  }
  .warp ul li .tagArea .hot {
    font-size: 14px;
    border-radius: 40px;
    padding: 5px;
    width: 90px;
    height: 24px;
    line-height: 1;
  }
  .warp ul li .tagArea .tag {
    font-size: 16px;
  }
  .warp ul li .title {
    font-size: 20px;
  }
  .warp ul li .detial {
    font-size: 14px;
  }
  .warp ul li .read {
    padding: 6px 12px;
    margin-top: 4px;
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .warp .search-area {
    display: flex;
    justify-content: center;
  }
  .warp .search-area .search {
    width: 216px;
    height: 36px;
    padding: 0 45px;
    margin-top: 40px;
  }
  .warp .search-area i {
    left: 75px;
    top: 50px;
    font-size: 20px;
  }
  .warp ul li {
    width: 208px;
  }
  .warp ul li .tagArea .hot {
    line-height: 1.5;
    margin: 0;
    width: 80px;
    height: 32px;
    margin-left: 4px;
  }
}/*# sourceMappingURL=style.css.map */